.home {
   box-sizing: border-box;

   .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      justify-content: center;

      .content-cards {
         display: flex;
         justify-content: center;
         width: 100%;
      }
   }
}
